<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="base :: csslinks"> </th:block>
    <title>Gabriel's Reddit - Home Page</title>
</head>

<body>
<nav th:replace="base :: navbar"></nav>

<div class="jumbotron jumbotron-fluid text-center">
    <div class="jumbotron text-sm-center">
        <h1 class = "display-1">Welcome to Gabriel's Reddit!</h1><br/><br/>
    </div>
</div>
<br/>
<div class="container jumbotron" th:if="${search}!=null" th:inline="text">You searched for [[${search}]]:</div>
<div class="container" th:each="post : ${posts}">
    <div class="jumbotron">
        <ul class="list-group">
            <li class="list-group-item"><a th:href="${post.url}" target="_blank">
                <span th:text="${post.title}"></span></a></li>
            <li class="list-group-item"><span th:text="'Submitted by '+ ${post.userName}"></span></li>
            <li class="list-group-item"><span th:text="${post.publicationDate}"></span></li>
            <li class="list-group-item image-wrapper"  th:if="${post.image} != null">
                <a th:href="${post.url}" target="_blank" ><img id="post-image" th:src="${post.image}"/></a>
            </li>
        </ul>
        <br/><br/>
        <a th:href="@{/update/{id}(id=${post.id})}" role="button">
            <button class="btn btn-info btn-lg">Update</button></a><br /><br />

        <a th:href="@{/delete/{id}(id=${post.id})}" role="button">
            <button class="btn btn-info btn-lg">Delete</button></a><br /><br />
    </div>
</div>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>